/* Pallette de couleurs 
    couleurs principales*/
@font-face {
    font-family: "Calygraphy";
    src: url(../fonts.css/Gabrielle.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "QuinchoScript";
    src: url(../fonts.css/QuinchoScript_PersonalUse.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SimpleThread";
    src: url(../fonts.css/QuinchoScript_PersonalUse.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "PlaywriteHR";
    src: url(../fonts.css/lucida\ calligraphy\ italic.ttf);
    font-weight: bold;
    font-style: normal;
}

.PlaywriteHR {
    font-family: "PlaywriteHR";
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: #aa3322;
    text-shadow: 0.3px 0px 2.3px black;
}



.Quincho {
    font-family: "QuinchoScript";
    font-weight: bold;
    font-size: 40px;
    font-style: normal;

}

.SimpleThread {
    font-family: "SimpleThread";
    font-weight: bold;
    font-size: 40px;
    font-style: normal;

}

.Gabrielle {
    font-family: "Calygraphy";
    font-size: 50px;
    color: #721717;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 1 0.3 red;


}

Rouge1 {
    color: #aa3322;
}

Rouge2 {
    color: #721717;
}

/* niveaux de gris */

Noir {
    color: #000;
}

Blanc {
    color: #fff;
}

Gris-3 {
    color: #ededed;
}

Gris-1 {
    color: #cccccc;
}

Gris-2 {
    color: #aaaaaa;
}

body {
    width: 960px;
    margin: auto;
    height: 1000px;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: rgb(75, 99, 117);
    background-color: #fff;
}

.nav1,
.nav2,
.nav3,
.nav4 {
    color: #aaaaaa;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;

}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background-color: #aaa;
    cursor: pointer;

}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: rgb(75, 99, 117);
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#menu {
    text-align: justify;
    font-size: 15px;
    width: 900px;
    margin: auto;
    height: 40px;
    margin: auto;
    color: #cccccc;
    background-color: #aa3322;
}


.nav1 {
    display: inline-block;
    width: 252px;
    height: 25px;
    text-align: right;
    padding: 6px 17px;
    font-size: 12px;
    color: #cccccc;
    background-color: #aa3322;
}

.nav2 {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 80px;
    padding: 6px 13px;
    color: #cccccc;
    font-size: 12px;
    background-color: #aa3322;
    text-align: center;
    border-right: 1.5px dashed white;
    border-left: 1.5px dashed white;
}

.nav3 {
    display: inline-block;
    height: 25px;
    width: 125px;
    font-size: 12px;
    padding: 6px 17px;
    color: #cccccc;
    background-color: #aa3322;
    text-align: center;

}

.nav4 {
    position: inline-block;
    left: 749px;
    display: inline-flex;
    width: 110px;
    height: 30px;
    font-size: 12px;
    padding: 0px 9px;
    text-align: center;
    color: #cccccc;
    background-color: #aa3322;
    border-left: 1.5px dashed white;
    border-right: 1.5px dashed white;

}

.nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover {
    color: white;
    font-weight: 500;
}

.banner img {
    margin: auto;
    max-width: 900px;
}

/* 
div#main {
    text-align: center;
} */

#main {
    display: inline-block;
    color: #000;
    margin-top: 137px;
    margin-left: 40px;
}

#main1 {
    display: inline-block;
    color: #000;
    margin-top: 140px;
    margin-left: 40px;
}

#main1 h2 {
    font-style: italic;
    margin-left: 265px;
}

p {
    font-size: 14px;
    line-height: normal;
}

#main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    margin: auto;
    padding-top: 16px;
    padding-left: 258px;
    font-weight: 600;
    font-style: italic;
    color: #000;
}

#intro {
    margin-left: 41px;
    font-size: 14px;
    line-height: normal;
}

.intro h3 {
    right: 254px;
}

.intro p {
    margin-left: 49px;
    line-height: 0.3;
}

.intro .p2 {
    top: -10px;
    text-align: left;
    line-height: 0.5;
    margin-left: 47px;
    padding-left: 0px;
    font-size: 13px;
}

.intro2 {
    margin: 2px 0;
    height: 100px;
    margin-left: 1px;
    padding-top: 100px;
    font-size: 20px;
    line-height: normal;
}


.content-box {
    display: flex;
    width: 900px;
    padding: 0px;
    color: black;
    height: 693px;
    font-size: 15px;
    border-radius: 10px;
}

#en-savoirPlus {
    color: red;
    /* position: absolute; */
    left: 20px;
    font: size 11px;
    top: auto;
    border-bottom: 1px solid red;
}

.coupsDeCoeur {
    display: inline-block;
    width: 820px;
    padding: 23px;
    margin-top: 108px;
    height: 660px;
    font-size: 15px;
    border-radius: 10px;
    /* border: 1px solid #721717; */
}

.coupsDeCoeur h2 {
    margin: 10px;
    text-align: center;
    font-style: italic;
}

.coupsDeCoeur h3 {
    text-align: center;
    color: #aa3322;
    text-decoration: underline;
}

.coupsDeCoeur h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-left: 49px;
}

#lesClassiques {
    display: flex;
    margin-left: 63px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

#lesClassiques h3 {
    position: relative;
    padding: 4px;
    top: -96px;
}


#lesRomans {
    display: flex;
    margin-left: 63px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lesRomans h3 {
    position: relative;
    padding: 4px;
    top: -96px;
}

.box {
    display: block;
    color: #000;
    background-color: #ededed;
    padding-left: 13px;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid #aa3322;
}

.romans {
    width: 263px;
    height: 160px;
    margin-top: 10px;
}


.box-romans .author {
    font-weight: 800;
    font-size: 14px;
}

.box-title {
    display: inline-block;
    color: #aa3322;
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
}

p.author {
    font-size: 14px;
    margin: -13px;
    padding-left: 13px;
}

p.genre {
    font-weight: bold;
    padding-top: 13px;
    line-height: 0.4;
}

.box h5 {
    text-align: left;
}

.jours-semaine {
    position: relative;
    right: 40px;
    line-height: 0.1;
    bottom: -5px;
    height: auto;
    text-align: left;
}

.ul {
    padding: 4px;
    line-height: 0;
}


a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: rgb(75, 99, 117);
    text-decoration: none;
    cursor: pointer;
}



.intro {
    margin-left: -23px;
    font-size: 16px;
    line-height: normal;
}

.intro>h3 {
    margin-right: 10px;
}

.intro2 {
    margin: 2px 0;
    height: 100px;
    top: 90px;
    margin-left: 1px;
    padding: 8px;
    font-size: 14px;
    line-height: normal;
}


.intro2 p {
    margin-top: -9px;
    left: 20px;
}

.intro2 h3 {
    font-size: 18px;
    padding-top: 9px;
}

.intro2 h4 {
    line-height: 0.1;
}

.intro>h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 49px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    color: #000;
}

.intro .p2 {
    text-align: left;
    line-height: 0.5;
    margin-bottom: 0;
    margin-left: 49px;
    padding-left: 0px;
    font-size: 14px;
}


.boxCitation {
    display: flex;
    width: 417px;
    font-style: italic;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 452px;
    height: auto;
    border: 1px dashed red;
    background-color: #ededed;
    padding: 7px;
    margin-top: 7px;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}

#en-savoirPlus1 {
    color: red;
    display: inline-block;
    left: 10px;
    margin-left: 24px;
    top: 136px;
    left: 25px;
    font-size: 12px;
    border-bottom: 1px solid red;
}

#en-savoirPlus1:hover,
#en-savoirPlus2:hover {
    color: #aaaaaa;
    border-bottom: none;
}

#en-savoirPlus2 {
    display: inline-block;
    margin-right: 720px;
    margin-top: 0px;
    color: red;
    font-size: small;
    border-bottom: 1px solid red;
}

.lesClassiques {
    display: flex;
    justify-content: space-between;
}

div#horaires {
    margin: 58px 45px;
}

.footer {
    height: 100px;
    width: 900px;
    margin: auto;
    color: #721717;
    margin: 57px 35px;
    background-color: #aaaaaa;
}

.copyright {
    display: block;
    margin-left: 20px;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 200;
}

address {
    text-align: right;
    position: relative;
    font-size: 1em;
    bottom: 46px;
    font-weight: bold;
    padding-right: 30px;

}